<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS hosting configuration for ASP.NET Core (in-process hosting).
  Requires the ".NET Core Hosting Bundle" to be installed on the server:
  https://dotnet.microsoft.com/download/dotnet/8.0  ->  ASP.NET Core Runtime / Hosting Bundle
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\ApiForwarder.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>

      <!-- Allow large request bodies and all verbs through to the proxy. -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
